.posts {
    display: flex;
    flex-wrap: nowrap;
    margin: 24px; 
    overflow: hidden; 
}

.posts.all {
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-list .posts {
    justify-content: unset;
}

.blog-list .posts .post-tile{
    margin: 1%;
}

h1 {
    padding: 0 24px;
}

.tile-block {
    flex: 0 0 100%;
    display: flex;
    transition: all 0.7s ease-in-out;
}

.post-tile {
    border: 2px solid white;
    padding-bottom: 12px;
    margin: 24px 2%;
    color: black;
    background-color: #E6E6E6;   
    display: inline-block;
}

.post-tile h2, .post-tile p, .post-tile a {
    padding: 0 12px;
}

.post-tile h2 {
    min-height: 56px;
    margin-bottom: 12px;
}

.post-tile img {
    max-height: 300px;
    max-width: 100%;
}

.carousel {
    position: relative;
    margin-bottom: 48px;
}

.previous, .next {
    position: absolute;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background-color: white;
    padding: 12px 48px;
    
}

.next {
    right: 24px;
}

.previous {
    left: 24px;
}

.see-more {
    margin: 24px auto;
    display: block;
    padding: 12px 48px;
    font-size: 1.3125rem;
}