.latest-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px;
    
}

.post-tile {
    width: 80%;
    border: 2px solid white;
    padding-bottom: 12px;
    margin-bottom: 24px;
    color: black;
    background-color: #E6E6E6;   
    position: relative;
}

.post-tile h2, .post-tile p, .post-tile a {
    padding: 0 12px;
}

.post-tile h2 {
    min-height: 56px;
    margin-bottom: 12px;
}

.post-tile img {
    max-height: 300px;
    max-width: 100%;
}