@media (min-width: 600px){
    .post-tile{
        width: 45%;
    }
    #spec-main {
        padding-top: 24px;
    }
    .full-blog img {
        max-width: 70%;
    }
    .carousel {
        margin: 12px 36px;
    }
    .next {
        right: -30px;
    }
    .previous {
        left: -30px;
    }
    .blog-post p {
        padding: 0 10%;
    }
    .blog-list {
        margin: 0 5%;
    }
    .about-text, .about h2 {
        padding: 0 10%;
    }
    .filter label {
        padding: 4px 36px;
    }
    .index-dot {
        height: 14px;
        width: 14px;
    }
}

@media (min-width: 800px){
    #hamburger {
        display: none;
    }
    .hidden {
        left: unset;
    }
    .navbar {
        position: relative;
    }
    .nav-items {
        width: unset;
        height: unset;
        min-height: unset;
        right: 0;
        top: unset;
        bottom: 0;
    }
    .nav-items a, .nav-items .search-container{
        padding: 4px 8px;
        width: unset;
        display: inline-block;
        height: 22px;
        margin: 0;
    }
    .nav-items .search-container {
        max-width: 150px;         
    }
    #search-field, #search-go {
        padding: 2px;
    } 
}

@media (min-width: 1000px){
    .post-tile{
        width: 31%;
        max-width: 330px;
    }
    .nav-items .search-container {
        max-width: 200px;         
    }
    input, textarea, button {
        font-size: 1.3125rem;
    }
    body {
        font-size: 1.3125rem;
    }
    .full-blog img {
        max-width: 60%;
    }
    .about-text, .about h2 {
        padding: 0 15%;
    }
    h2 {
        font-size: 1.75rem;
    }
    .carousel {
        margin: 12px 5%;
    }
    .full-blog {
        padding: 48px;
    } 
}

@media (min-width: 1450px){
    .post-tile{
        width: 23%;
    }
    h1 {
        font-size: 2.1875rem;
    }  
    #spec-main {
        padding-top: 48px;
    }
    .full-blog img {
        max-width: 50%;
    }
    .nav-items .search-container {
        max-width: 200px;         
    }
    #search-field {
        width: 80%;
    }
    .nav-items a, .nav-items .search-container {
        padding: 4px 36px;
    }
    .blog-list {
        margin: 0 10%;
    }
    .about-text, .about h2 {
        padding: 0 20%;
    }
    .blog-post p {
        padding: 0 15%;
    }
}


@media (min-width: 1800px){
    .main-title {
        font-size: 2.1875rem;
    }
    #search-field, #search-go {
        font-size: 1.3125rem;
    }
    .nav-items a, .nav-items .search-container {
        font-size: 1.3125rem;
        padding: 4px 42px;
        height: 28px;
    }
}