@media (min-width: 600px){
    .post-tile{
        width: 45%;
    }
    .about h2 {
        font-size: 1.3125rem;
    }
    .full-blog img {
        max-width: 70%;
    }
    .full-blog {
        padding: 48px;
    }
}



@media (min-width: 800px){
    #hamburger {
        display: none;
    }
    .hidden {
        left: 0;
    }
    .nav-items {
        height: unset;
        position: relative;
        padding-top: 20px;
    }
    .nav-items a, .nav-items .search-container{
        margin-left: 0;
        width: unset;
    }
    body {
        display: flex;
    }
    header {
        flex: 1;
        max-width: 300px;
        min-height: 100vh;
        
    }
    main {
        flex: 3;
        overflow: hidden;
    }
    .banner-image img{
        display: unset;
        
    }
    .about {
        border-left: 2px solid white;
    }
    .page-headline img {
        visibility: visible;
        max-height: 300px;
    }
    .page-headline h1 {
        color: white;
    }
    
}

@media (min-width: 1000px){
    main {
        flex: 4;
    }
    .post-tile{
        width: 30%;
    }
    form, input, textarea, .see-more, .button-container button {
        font-size: 1.325rem;
    }
    .about h1 {
        padding: 72px;
    }
    .about p, .about h2, .blog-post p {
        padding: 0 72px;
    }
    .about a {
        font-size: 1rem;
    }
    
    .bottom-banner-image { 
        min-height: 400px;
    }
    .full-blog img {
        max-width: 60%;
    }
    .full-blog {
        margin: 48px 48px 48px 0;
    }
    
}

@media (min-width: 1450px){
    main {
        flex: 5;
    }
    .post-tile{
        width: 23%;
    }
    h1, .main-title {
        font-size: 2.1875rem;
    }
    p, a {
        font-size: 1.3125rem;
    }  
    .full-blog .modal-box.open img {
        max-height: 90vh;
        top: 5vh;
    }
    .about h2 {
        font-size: 1.75rem;
    }
    .about p, .about h2, .blog-post p {
        padding: 0 96px;
    }
    .full-blog img {
        max-width: 50%;
    }
}