main {
    padding: 0 5% 24px 0;
}

.full-blog {
    color: black;
    background-color: #FFFDFB
}

.blog-post {
    text-align: center; 
    padding-bottom: 24px;
}

.wp-block-image, .featured {
    max-width: 80%;
    margin: 16px auto;
}

img:hover {
    cursor: pointer;
}

img:focus {
    border: 1px solid #303030;
}

.wp-block-image img {
    width: 100%;
    height: unset;
}

.modal-box.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 500;
    animation: expand 0.5s;   
    animation-timing-function: ease-out; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box.open img {
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 90vw;
    border: 2px solid white;
}

.modal-box.open img:hover{
    cursor: auto;   
}

.full-blog p {
    line-height: 1.5em;
    text-align: left;
    margin: 12px auto;
    padding: 0 5%;
}

@keyframes expand {
    0% {transform: scale(0);} 
    100% {transform: scale(1);}
}

.comments {
    width: 90%;
    max-width: 700px;
    margin: 24px auto;
}

.comments label {
    width: 100%;
    display: inline-block;
}

.comments input, .comments textarea {
    display: inline-block;
    width: 98%; 
    margin: 4px auto 12px auto;   
}

.button-container {
    margin-top: 24px;
}

.comment-tile{
    border: 1px solid #303030;
    border-radius: 6px;
    padding: 0 12px;
    margin: 12px auto;
    background-color: #FFFDFB;
    color: black;
}

#comment-form{
    background-color: #303030;
    padding: 8px;
}

.existing-comments {
    margin-bottom: 24px;
    border-bottom: 2px solid #FFFDFB;
}

.comments h4{
    margin: 12px auto;
}