.full-blog {
    color: black;
    background-color: white;
    margin: 24px 24px 0 0;
    padding: 12px;
}

.wp-block-image {
    max-width: 50%;
    
    margin: 16px auto;
}

.wp-block-image img {
    width: 100%;
    height: unset;
}

.modal-box.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: unset;
    margin: 0;
    width: 100vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    animation: expand 0.5s;   
    animation-timing-function: ease-out; 
}

.modal-box.open img {
    position: relative;
    top: 5%;
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 90vw;
    border: 2px solid white;
}

p {
    line-height: 1.5em;
}

@keyframes expand {
    0% {transform: scale(0);} 
    100% {transform: scale(1);}
}

